// Define variables for your color scheme
$dark-blue: #010038;
$intense-blue: #293A80;
$light-blue: rgba(0,212,255,1);
$orange: #F39422;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
