// Define variables for your color scheme
$dark-blue: #010038;
$intense-blue: #172667;
$light-blue: #00d4ff;
$orange: #f39422;
$opacity-blue: rgba(136, 204, 255, 0.1);

// For example:
$red: #fd1015;
$blue: #293a80;
$yellow: #ffc65a;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
