<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-delete-content">
      <h2 class="modal-title">Delete Account</h2>
      <p>Are you sure you want to delete your account?</p>

      <div class="modal-delete-confirmation">
        <button type="button" class="btn-cancel-confirm" data-dismiss="modal">Cancel</button>

        <%= link_to "Delete", registration_path(resource_name), method: :delete, class: "btn-delete-confirm" %>
      </div>
    </div>
  </div>
</div>
