// Style for the Fish#index page

// --------------------//--------------------
// Search form
.fish-search-container {
  position: relative;
  margin-top: 10px;
}

// --------------------//--------------------
// List of Fish
#fish-list {
  margin-bottom: 20px;

  .card {
    text-align: center;
    padding: 10px 20px;

    h3 {
      font-size: 24px;
      margin-bottom: 12px;
    }

    h5 {
      color: #9BDDF9;
      font-size: 18px;
      line-height: 28px;
    }
  }

  .fish-card {
    margin-top: 20px;

    p {
      padding: 0 10px 10px 20px;
      margin: 0;
    }
  }
}
