// CSS common for both the Index and Show Pages of Fish Controller
.fish-card, .fish-card-full {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;

  h2 {
    font-family: $headers-font;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
  }

  p {
    font-family: $body-font;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}

a:hover {
  color: #BDEBFF;
}

.fish-card-infos {
  background-color: $opacity-blue;
  width: 100%;
}

// CSS for the Fish#index Page
.fish-card {
  align-items: flex-start;
  height: 300px;
  border-radius: $border-radius;

  p {
    padding-left: 10px;
  }

  img {
    padding-bottom: 20px;
  }
}

// CSS for the Fish#show Page
.fish-card-full {
  height: 600px;

  p {
    text-align: justify;
    padding: 0 10px;
    border: none;
  }

  img {
    padding-bottom: 25px;
  }
}

.fish-more-info {
  font-size: 15px;
  padding: 10px !important;
  font-style: italic;
  font-weight: bolder;
}
