.fish-card {
  // overflow: hidden;
  flex-direction: column;
  height: 300px;
  display: flex;
  align-items: flex-start;
  margin: 20px 0px;
  border-radius: $border-radius;

  h2 {
    font-family: $headers-font;
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
    padding-top: 10px;
    color: #BDEBFF;
  }

  p {
    font-family: $body-font;
    padding-left: 10px;
  }
}

.fish-card-infos {
  background-color: $opacity-blue;
  width: 100%;
}

.fish-card img {
  width: 100%;
  object-fit: cover;
  padding-bottom: 20px;
}

.fish-card-full {
  // overflow: hidden;
  flex-direction: column;
  height: 600px;
 
  display: flex;
  
  margin: 20px 0px;

  h2 {
    font-family: $headers-font;
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
    padding-top: 10px;
  }

  p {
    font-family: $body-font;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    border: none;
    padding-top:0;
    padding-bottom: 0;
  }
}

.fish-card-full img {
  width: 100%;
  object-fit: cover;
  padding-bottom: 25px;
}
