// CSS common for both the Index and Show Pages of Fish Controller

// Search form by Fish name
form > .d-flex {
  margin-top: 10px;
}

// List of Fish
#fish-list {
  .item-card {
    text-align: center;
    padding: 10px 20px;

    h3 {
      font-size: 24px;
      margin-bottom: 12px;
    }

    h5 {
      font-size: 18px;
      color: #9BDDF9;
      line-height: 28px;
    }
  }

  .fish-card {
    margin-top: 20px;

    p {
      padding: 0 10px 10px 20px;
      margin: 0;
    }
  }
}
