body {
  color: rgba(255, 255, 255, 0.9);
  height: 100%;
}

html {
  height: 100%;
}

h2, h1, a {
  color: #BDEBFF;
}

h3 {
  color: rgba(255, 255, 255, 0.9);
}

p {
  color: #9BDDF9;
}

.page-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  border: 5px solid rgba(155, 221, 249, 0.2);
  margin: 20px 0;

  h1 {
    font-size: 36px;
    margin-bottom: 2px;
  }

  h2 {
    font-size: 22px;
  }
}

.modal-dialog-centered {
  min-height: calc(80% - 1rem);
}
