// Standard style for the app
body {
  color: rgba(255, 255, 255, 0.9);
  height: 100%;
}

html {
  height: 100%;
}

h2, h1, a {
  color: #BDEBFF;
}

h3 {
  color: rgba(255, 255, 255, 0.9);
}

p {
  color: #9BDDF9;
}

// Specify the app normal width
.page-container, .modal-dialog-centered, #bottom-list {
  min-width: 375px;
  max-width: 375px;
  margin: 0 auto;
}

// Page Container
.page-container {
  padding: 20px;
}

// Page title
.page-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  border: 5px solid rgba(155, 221, 249, 0.2);
  margin: 20px 0;

  h1 {
    font-size: 36px;
    margin-bottom: 2px;
  }

  h2 {
    font-size: 22px;
  }
}

// Center Modals
.modal-dialog-centered {
  min-height: calc(100% - 1rem);
  padding: 10px;
}

// Locations spot
.locations-spot {
  color: #3AC4FF;
  font-size: 19px;
  font-style: italic;
}

// Weather icon
.weather-icon {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
}

// When there is no data to display
.no-data {
  text-align: center;
  padding: 10px 20px;

  h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
  }

  h5 {
    color: #9BDDF9;
    font-size: 18px;
    line-height: 28px;
  }
}
