// Standard style for the app
html {
  height: 100%;
}

body {
  color: rgba(255, 255, 255, 0.9);
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

h2, h1, a {
  color: #BDEBFF;
}

h3 {
  color: rgba(255, 255, 255, 0.9);
}

p {
  color: #9BDDF9;
}

// App normal width
.page-container, .modal-dialog-centered, #bottom-list {
  min-width: 375px;
  max-width: 375px;
  margin: 0 auto;
}

// Page Container
.page-container {
  padding: 20px;
}

// Page title
.page-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 5px;
  border: 5px solid rgba(155, 221, 249, 0.2);
  margin: 20px 0;
  overflow: hidden;

  h1 {
    font-size: 28px;
    max-width: 100%;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 24px;
    max-width: 100%;
    margin-bottom: 0;
  }
}

// Location address
.location-address {
  color: #3AC4FF;
  font-size: 19px;
  font-style: italic;
}

// Weather icon
.weather-icon {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  height: 50px;
  width: 60px;
}

// When there is no data to display
.no-data {
  text-align: center;
  padding: 10px 20px;

  h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
  }

  h5 {
    color: #9BDDF9;
    font-size: 18px;
    line-height: 28px;
  }
}

// Display the text in a single line
.nowrap {
  white-space: nowrap;
}
