.list-border-top, .gray-background {
  list-style: none;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  background-color: $opacity-blue;
  color: rgba(255, 255, 255, 0.9);

  p {
    color: rgba(255, 255, 255, 0.9);
  }

  strong {
    color: #9BDDF9;
  }

 
}

.list-border-top {
  li, p {
    padding: 10px 0;
    border-top: 2px solid white;
    text-align: center;
  }
}

/* Style Forms */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style Form Log */
.container-log-form {
  display: flex;
  flex-direction: column;
  color: #BDEBFF;
  opacity: 0.9;

  p {
    color: #BDEBFF;
  }
}

input[type=datetime-local] {
  width: 220px;
}

/* Style Form Catch */
.container-catch-form {
  display: flex;
  flex-direction: column;
  color: #BDEBFF;
  opacity: 0.9;
}

#ModalDeleteLog, #ModalCreateCatch {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ModalCreateLocation {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

