.log-card {
  background-color: lightgray;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

hr {
  height: 1px;
  background-color: #010038;
  border: none;
  margin: 5px 0;
}

.card-headers {
  margin-left: 10px;

  h3 {
    font-weight: 600;
    margin-bottom: 0;
  }
}

.card-content {
  display: flex;
  margin-top: 10px;

  p {
    font-weight: 500;
    margin-bottom: 8px;
  }
}

.card-content-info {
  width: 55%;
}

.card-content-stats {
  width: 45%;
}
