// Specific CSS for the Logs#show Page
// Style Log Forms
.container-log-form {
  display: flex;
  flex-direction: column;
  color: #BDEBFF;
  opacity: 0.9;

  p {
    color: #BDEBFF;
  }
}

input[type=datetime-local] {
  width: 220px;
}

// Style Catch Form
.container-catch-form {
  display: flex;
  flex-direction: column;
  color: #BDEBFF;
  opacity: 0.9;
}

// Other Elements
.list-border-top, .gray-background {
  list-style: none;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  background-color: $opacity-blue;
  color: rgba(255, 255, 255, 0.9);

  p {
    color: rgba(255, 255, 255, 0.9);
  }

  strong {
    color: #9BDDF9;
  }
}

.list-border-top {
  li, p {
    padding: 10px 0;
    border-top: 2px solid white;
    text-align: center;
  }
}

.date-show-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 25px;

  i {
    margin-right: 10px;
  }

  p {
    color: white;
    font-size: 16px;
    margin: 0;
  }

  span {
    font-size: 14px;
    margin-left: 5px;
  }
}

.show-page-weather-headers {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.show-page-card-content {
  width: 100%;
  padding: 10px;
  border-top: 2px solid white;

  table { margin-left: 35% }

  p {
    font-size: 17px;
    margin: 8px 0;

    span {
      font-size: 15px;
    }
  }
}
