.log-card {
  background-color: $opacity-blue;
  margin-top:20px;
  padding: 10px;
}

hr {
  height: 1px;
  background-color: white;
  border: none;
  margin: 5px 0;
}

.card-headers {
  margin-left: 10px;

  h3 {
    margin-bottom: 0;
    
  }
}

.card-content {
  display: flex;
  align-items: baseline;
  justify-content: space-around;

  p {
    font-weight: 500;
    color: white;
    margin-bottom: 0;
  }

  strong {
    color: #9BDDF9;
  }


}



