.list-catches {
  list-style: none;
  margin: 20px 0;
  padding: 10px;
  border-radius: 2px;
  background-color: lightgray;
  color: #010038;

  li, p {
    padding: 10px 20px;
    border-top: 2px solid #010038;
  }
}

/* Style Forms */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style Form Log */
.container-log-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: #010038;
}

input[type=datetime-local] {
  width: 200px;
}

/* Style Form Catch */
.container-catch-form {
  display: flex;
  flex-direction: column;
  color: #010038;
}
