// Style for the Pages#prediction page

// --------------------//--------------------
// Locations predicted
.prediction-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;

  h3 {
    font-size: 65px;
    padding-right: 8px;
  }

  .prediction-location-headers {
    padding: 10px;
    border-left: 5px solid #BDEBFF;

    h3 {
      font-size: 20px;
      margin-bottom: 2px;
    }

    h5 {
      text-indent: 5px;
      font-size: 18px;
      margin-bottom: 2px;
    }
  }
}

// --------------------//--------------------
// Stats predicted
.prediction-stats {
  display: flex;
  justify-content: space-around;
  background-color: rgba(155, 221, 249, 0.3);
  font-size: 20px;
  padding: 5px 20px;

  .tooltip {
    color: rgba(255, 255, 255, 0.9);
    margin: 0;

    i {
      margin-right: 5px;
    }
  }
}
