// Style for the Users#show page (home page)

// --------------------//--------------------
// User Locations
.locations-container {
  background-color: $opacity-blue;
  padding: 10px 10px 0 10px;
  margin-bottom: 40px;

  .d-flex {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;

    img {
      width: 30px;
      padding-bottom: 5px;
    }

    h3 {
      font-size: 22px;
    }

    a {
      color: #BDEBFF;
      opacity: 0.7;
      padding-bottom: 5px;

      i {
        font-size: 30px;
      }
    }
  }

  // Locations list
  #locations-list {
    .no-data {
      font-size: 20px;
      border-top: 1px solid white;
    }

    a:hover {
      color: #BDEBFF;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      border-top: 1px solid white;

      .location-info {
        width: 210px;
        max-width: 210px;
        overflow: hidden;

        h6 {
          text-align: left;
          font-size: 14.5px;
          margin: 10px 0 0;

          span {
            font-size: 16.5px;
          }
        }

        .location-address {
          font-size: 16.5px;
          margin-left: 5px;
        }
      }

      .weather-icon {
        background-size: 75px 75px;
        width: 50px;
        margin-left: 10px;
      }
    }
  }
}

// --------------------//--------------------
// Feed of curiosities
.feed-container {
  height: 150px;
  box-shadow: 0 0 2px 1px rgba(155, 221, 249, 0.2);
  margin-bottom: 40px;

  h5 {
    text-align: center;
    padding-top: 10px;
  }

  p {
    text-align: justify;
    padding: 0 10px;
  }
}

// --------------------//--------------------
// User stats
.stats-container {
  display: flex;
  justify-content: space-evenly;
  background-color: $opacity-blue;
  padding: 10px;
  margin-bottom: 40px;

  div {
    text-align: center;

    p {
      margin: 0;
    }
  }
}

// --------------------//--------------------
// User top fish caught
.top-fish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  width: 250px;
  margin: 0 auto 40px;

  h5 {
    text-align: center;
  }

  li {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid white;

    p {
      color: #9BDDF9;
      padding: 5px;
      margin-bottom: 0;
    }
  }
}
