// Style for the Users#prediction page

// --------------------//--------------------
// Locations predicted
.prediction-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;

  .d-flex {
    max-width: 233px;
    overflow: hidden;

    h3 {
      font-size: 65px;
      padding-right: 8px;
    }

    .prediction-location-headers {
      padding: 10px;
      border-left: 5px solid rgba(255, 255, 255, 0.9);

      h3 {
        font-size: 19.5px;
        padding: 0;
        margin-bottom: 2px;
      }

      h5 {
        text-indent: 5px;
        font-size: 17px;
        margin-bottom: 2px;
      }
    }
  }

  .weather-icon {
    background-size: 90px 90px;
    margin-left: 10px;
  }
}

// --------------------//--------------------
// Stats predicted
.prediction-stats {
  display: flex;
  justify-content: space-around;
  background-color: rgba(155, 221, 249, 0.3);
  font-size: 20px;
  padding: 5px 20px;

  .tooltip {
    color: rgba(255, 255, 255, 0.9);
    margin: 0;

    i {
      margin-right: 5px;
    }
  }
}
