// Specific CSS for the Users#show Page
.locations-container {
  background-color: $opacity-blue;
  padding: 10px 10px 0 10px;
  margin-bottom: 40px;

  .d-flex {
    justify-content: space-between;
    align-items: center;

    img {
      width: 30px;
      padding-bottom: 5px;
    }

    h3 {
      font-size: 22px;
    }

    a {
      color: #BDEBFF;
      opacity: 0.7;
      padding-bottom: 5px;

      i {
        font-size: 30px;
      }
    }
  }

  #locations-list {
    .empty-list {
      padding: 10px;
      margin: 0;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      border-top: 1px solid white;

      .location-info {
        width: 170px;

        h6 {
          text-align: left;
          margin: 10px 10px 0 0;

          strong {
            font-size: 20px;
          }
        }

        .location-site {
          font-size: 18px;
          margin: 0 0 5px 18px;
        }
      }

      .weather-icon {
        width: 70px;
        height: 35px;
        background-size: 58px 58px;
      }
    }
  }
}

.feed-container {
  height: 150px;
  box-shadow: 0 0 2px 1px rgba(155, 221, 249, 0.2);
  margin-bottom: 40px;

  h5 {
    text-align: center;
    padding-top: 10px;
  }

  p {
    text-align: justify;
    padding: 0 10px;
  }
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
  background-color: $opacity-blue;
  padding: 10px;
  margin-bottom: 40px;

  div {
    text-align: center;

    p {
      margin: 0;
    }
  }
}

.top-fish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  width: 250px;
  margin: 0 auto 40px;

  li {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid white;

    p {
      padding: 5px;
      margin-bottom: 0;
    }
  }
}

hr {
  border-top: 2px solid $dark-blue;
  margin-right: 3rem;
  margin-left: 3rem;
}

.modal-header h5, .close {
  color: white;
  opacity: 0.9;
}

.modal-content {
  background-color: #061f35;
}

.ap-dataset-places {
  color: black;
}
