<!-- If there are no Catches, then... -->
<% if catches.empty? %>
  <table class="catches-list-empty">
    <thead>
      <tr>
        <th>
          <h3>Catches</h3>

          <%= link_to "Create", data: { toggle: "modal", target: "#ModalNewCatch" } do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><p> Nothing caught</p></td>
      </tr>
    </tbody>
  </table>

<!-- If there are some Catches, then... -->
<% else %>
  <table class="catches-list-populated">
    <!-- Catches Table Headers -->
    <thead>
      <tr>
        <th><h3>Catches</h3></th>
        <th><h6>Qnt</h6></th>
        <th><h6>Kg</h6></th>

        <th>
          <%= link_to "Create", data: { toggle: "modal", target: "#ModalNewCatch" } do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: "catches/catch", collection: catches %>
    </tbody>
  </table>
<% end %>
