
  
  <div class="banner text-center">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    <h4><%= current_user.email%></h4>
  </div>

  <div class="container">
    <div class="fishes text-center mt-3">
      <i class="fas fa-fish"></i>
      <i class="fas fa-fish"></i>
      <i class="fas fa-fish"></i>
      <i class="fas fa-fish"></i>
      <i class="fas fa-fish"></i>
    </div>

    <div class="buttons mt-3">
      <h6><%= link_to "PREDICTION", "#", class: "btn btn-flat btn-block" %></h6>
      <h6><%= link_to "CATCH", "#", class: "btn btn-flat btn-block" %></h6>
    </div>  
      
    <div class="location text-center">
    <h6><strong>LOCATIONS</strong></h6>
      <hr>
      <h6>Tamariz</h6>
      <hr>
      <h6>Cacilhas</h6>
      <hr>
      <h6>Roma</h6>
    </div>
  </div>
