<div class="container">
  
  <div class="banner text-center">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    <h1><%= current_user.email%></h1>
  </div>

  <div class="buttons">
    <%= link_to "Prediction", "#", class: "btn btn-flat" %>
    <%= link_to "Catch", "#", class: "btn btn-flat" %>
  </div>  
    
    <div class="location">
    <h4>location 1</h4>
    <h4>location 2</h4>
    </div>
</div>