<tr>
  <td><hr></td>
  <td></td>
  <td><hr></td>
</tr>

<tr>
  <td>Weight prediction</td>
  <td></td>
  <td><%= "#{rounded_weight(prediction[:weight_gr])} (per hour)" %></td>
</tr>

<tr>
  <td>Mean error</td>
  <td></td>
  <td><%= "#{prediction[:mean_percentage_error]}%" %></td>
</tr>
