// Alert
.alert {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(91, 234, 201, 0.5);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: calc(100% - 0.5rem);
  border: none;
  margin: 0.3rem 0.25rem;
}
