.banner {
    padding-top: 60px;
    height: 250px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background.jpg");
    background-size: cover;
    background-position: center;
    h4 {
      color: white;
      font-weight: bold;
      font-size: 20px;
      margin-top: 10px;
    }
    .btn btn-flat {
      padding: 15px 50px;
    }
  }