// mobile bottom shortcut navbar
@media screen and (min-width: 767px) {
  #bottom-nav  {
    display: none;
  }
}

@media (max-width: 767px) {
  #bottom-nav {
    text-align: center;
    font-size: 14px;
    padding: 0;
    display: flex;
    position: fixed;
    width: 100%;
    background: rgba(136, 204, 255, 0.3);
    bottom: 0;
    z-index: 99;
    color: #BDEBFF;

  }

  #bottom-nav #bottom-list {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }

  #bottom-list > li {
    flex-grow: 1;
    padding: 5px 0;
    width: 100%;
  }

  #bottom-list > li > a {
color: rgba(0, 0, 0, 0.9);

    .far, .fas {
      color: rgba(0, 0, 0, 0.9);
    }
  }

  #bottom-list > li.active {
    font-weight: 900;
      .far, .fas {
      //color: $primary;
    }
  }

  #bottom-list > li > a figure {
    margin: 0;
  }
}

#logo {
  width: 40px;
}

