// Bottom navbar
#bottom-nav {
  display: flex;
  position: fixed;
  text-align: center;
  bottom: 0;
  color: #BDEBFF;
  background: rgba(82, 111, 128, 0.95);
  font-size: 14px;
  z-index: 99;
  width: 100%;
  padding: 0;

  #bottom-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;

    li {
      width: 75px;
      flex-grow: 1;
      padding: 8px 0;

      a {
        color: rgba(0, 0, 0, 0.9);

        figure {
          margin: 0;
        }

        // Loading icon
        .fas.fa-spinner.fa-spin {
          color: #BDEBFF;
          font-size: 36px;
          margin-top: 2px;
        }
      }

      .navbar-toggler {
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 4px;
      }

      // Dropdown menu
      .dropdown-menu {
        background-color: rgba(82, 111, 128, 0.9);
        min-width: 140px;
        padding: 8px 4px;

        a {
          color: rgba(255, 255, 255, 0.9);

          &:hover {
            background-color: rgba(155, 221, 249, 0.5);
          }
        }
      }
    }

    // The navbar item representing the current page
    li.active {
      font-weight: 900;

      a {
        color: #BDEBFF;
      }
    }
  }
}
