.btn-flat {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgba(155, 221, 249, 0.5);
  transition: background 0.3s ease;

  &:hover {
    color: white;
    background: rgba(91, 234, 201, 0.75);
  }
}


.btn-delete-confirm, .btn-cancel-confirm {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  border: none;
  margin: 0;
}

.btn-delete-confirm {
  color: white;
  background-color: #e5493d;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.btn-cancel-confirm {
  color: black;
  background-color: lightgray;
}


.btn-user-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 60px;
  background-color: rgba(136, 204, 255, 0.5);
  opacity:1;
  padding: 0;
  margin: 20px 85px;
  border-radius: 8px;

  h6 {
    color: white;
    font-size: 18px;
    margin-bottom: 0;
  }
}

.btn-fish-search {
  color: white;
  background: rgba(155, 221, 249, 0.3);
  padding: 4px 8px 6px;
  border: none;
  border-radius: 0;
  margin-top: 0;
  transition: background 0.3s ease;

  &:hover {
    color: white;
    background: rgba(91, 234, 201, 0.5);
  }
}
