.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
    background: rgba(155, 221, 249, 0.3);
    transition: background 0.3s ease;
    letter-spacing: 3px;
  }
  
.btn-flat:hover {
  background: rgba(91, 234, 201, 0.5);
  color: white;
}

.btn-delete-confirm, .btn-cancel-confirm {
  width: 50%;
  float: left;
  height: 100%;
  text-align: center;


  text-decoration: none;
  border: none;
  margin: 0;
  padding: 8px;
}

.btn-delete-confirm {
  background-color: #e5493d;
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.btn-cancel-confirm {
  background-color: lightgray;
  
  color: black;
}


.btn-user-box {
  height: 60px;
  background-color: rgba(136, 204, 255, 0.5);
  opacity:1;
  padding: 0;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  h6 {
    color: white;
    font-size: 18px;
    margin-bottom: 0;
  }
}
