// Cards

// Standard card
.card {
  background-color: $opacity-blue;
  padding: 10px;
  margin-top: 20px;

  // General card
  // Card headers
  .card-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin-left: 10px;

    h3 {
      font-size: 24px;
      margin-bottom: 2px;
    }

    h5 {
      margin: 0 0 2px 10px;
    }
  }

  hr {
    background-color: rgba(255, 255, 255, 0.9);
    height: 1px;
    border: none;
    margin: 5px 0;
  }

  // Card content
  .card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

    p {
      color: rgba(255, 255, 255, 0.9);
      font-weight: 500;
      margin-bottom: 5px;
    }

    strong {
      color: #9BDDF9;
      font-size: 18px;
    }
  }

  // Card footer
  .card-footer-time {
    text-align: right;
    color: rgba(155, 221, 249, 0.7);
    font-size: 17px;
    padding-right: 3px;
    margin: 0;
  }

  // Info card
  // Card headers
  .card-info-headers {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    .weather-icon {
      width: 35%;
    }
  }

  // Card content
  .card-info-content {
    width: 100%;
    padding: 10px;
    border-top: 2px solid white;

    table {
      margin-left: 35%;

      tr {
        line-height: 30px;

        td {
          &:nth-child(1) {
            text-align: end;
            color: #9BDDF9;
            font-weight: bold;

            hr {
              min-width: 100px;
            }
          }

          &:nth-child(2) {
            width: 15px;
          }

          &:nth-child(3) > hr {
            min-width: 140px;
          }
        }
      }
    }

    p {
      text-align: justify;
      font-size: 17px;
      padding-right: 10px;
      margin: 0;

      span {
        color: rgba(255, 255, 255, 0.9);
        font-size: 15px;
      }
    }
  }
}

// Card to display Fish
.fish-card {
  margin: 0;

  h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 5px;
    margin: 0;
  }

  p {
    text-align: justify !important;
    border: none !important;
  }

  .card-fish-img {
    display: flex;
    align-items: center;
    height: 200px;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .fish-card-info {
    background-color: $opacity-blue;
    width: 100%;
    padding: 5px;

    p {
      color: rgba(255, 255, 255, 0.9);
      font-size: 16px;
      font-style: italic;
      text-shadow: 0px 0px 3px black;
    }

    a:hover {
      color: rgba(255, 255, 255, 0.9);
    }

    .fish-more-info {
      color: #BDEBFF;
      font-size: 18px;
      font-style: italic;
      font-weight: bolder;
      padding: 10px 15px 18px !important;

      &:hover {
        color: #BDEBFF;
      }
    }
  }
}

// Card actions
.card-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 15px;
  margin-bottom: 30px;
}
