// Cards

// -------------------------------------//-------------------------------------
// Cards list
#cards-list {
  margin: 10px 0 20px;

  .weather-icon {
    background-size: 90px 90px;
    margin: 0 0 5px 10px;
  }

  .country-code {
    // Vendor prefixes 'justify-content'
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    width: 60px;
    margin: 0 0 5px 10px;

    h3 {
      font-size: 32px;
      margin: 0;
    }
  }
}

// -------------------------------------//-------------------------------------
// Standard card
.card {
  background-color: $opacity-blue;
  padding: 10px;
  margin-top: 20px;

  // ------------------------------------//------------------------------------
  // General card
  // Headers
  .card-headers {
    // Vendor prefixes 'display'
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    // Vendor prefixes 'align-item'
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    // Vendor prefixes 'justify-content'
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    padding: 0 5px;
    margin-left: 5px;

    .card-title-container {
      width: 228px;
      max-width: 228px;
      overflow: hidden;

      h3 {
        font-size: 20px;
        margin-bottom: 4px;
      }

      h5 {
        font-size: 18px;
        margin: 0 0 2px 10px;
      }
    }
  }

  hr {
    background-color: rgba(255, 255, 255, 0.9);
    height: 1px;
    border: none;
    margin: 5px 0;
  }

  // Content
  .card-content {
    // Vendor prefixes 'display'
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    // Vendor prefixes 'align-items'
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    // Vendor prefixes 'justify-content'
    -ms-flex-pack: distribute;
    justify-content: space-around;

    margin-top: 10px;

    p {
      color: rgba(255, 255, 255, 0.9);
      font-weight: 500;
      margin-bottom: 5px;
    }

    strong {
      color: #9bddf9;
      font-size: 18px;
    }
  }

  // Footer
  .card-footer-time {
    text-align: right;
    color: rgba(155, 221, 249, 0.7);
    font-size: 17px;
    padding-right: 3px;
    margin: 0;
  }

  // ------------------------------------//------------------------------------
  // Info card
  // Headers
  .card-info-headers {
    // Vendor prefixes 'display'
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    // Vendor prefixes 'align-items'
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 100%;
    margin-bottom: 10px;

    .weather-icon {
      width: 35%;
    }

    h3 {
      max-width: 65%;
      margin-bottom: 0;
      overflow: hidden;
    }
  }

  // Content
  .card-info-content {
    width: 100%;
    padding: 10px;
    border-top: 2px solid white;
    overflow: hidden;

    table {
      margin-left: 35%;

      hr {
        margin: 8px 0;
      }

      tr {
        line-height: 30px;

        td {
          // First column
          &:nth-child(1) {
            text-align: end;
            color: #9bddf9;
            font-weight: bold;

            hr {
              min-width: 100px;
            }
          }

          // Second column
          &:nth-child(2) {
            width: 15px;
          }

          // Third column
          &:nth-child(3) > hr {
            min-width: 140px;
          }
        }
      }
    }

    p {
      text-align: justify;
      font-size: 17px;
      padding-right: 10px;
      margin: 0;

      span {
        color: rgba(255, 255, 255, 0.9);
        font-size: 15px;
      }
    }
  }
}

// -------------------------------------//-------------------------------------
// Fish card
.fish-card {
  margin: 0;

  h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 5px;
    margin: 0;
  }

  p {
    text-align: justify !important;
    border: none !important;
  }

  .card-fish-img {
    // Vendor prefixes 'display'
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    // Vendor prefixes 'align-items'
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    height: 200px;

    img {
      // Vendor prefixes 'object-fit'
      -o-object-fit: cover;
      object-fit: cover;

      width: 100%;
    }
  }

  .fish-card-info {
    background-color: $opacity-blue;
    width: 100%;
    padding: 5px;

    p {
      color: rgba(255, 255, 255, 0.9);
      font-size: 16px;
      font-style: italic;
      text-shadow: 0px 0px 3px black;
    }

    a:hover {
      color: rgba(255, 255, 255, 0.9);
    }

    .fish-more-info {
      color: #bdebff;
      font-size: 18px;
      font-style: italic;
      font-weight: bolder;
      padding: 10px 15px 18px !important;

      &:hover {
        color: #bdebff;
      }
    }
  }
}

// -------------------------------------//-------------------------------------
// Actions card
.card-actions {
  // Vendor prefixes 'display'
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  // Vendor prefixes 'justify-content'
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  width: 100%;
  padding-right: 15px;
  margin-bottom: 30px;

  a {
    margin-left: 15px;
  }

  i {
    color: white;
    font-size: 26px;
  }
}
