.fish-rating {
  float: left;
  overflow: hidden;
  width: 100%;
}

.fish-rating input[type=radio] {
  display: none;
}

.fish-rating label {
  box-sizing: border-box;
  width: 20%;
  height: 40px;
  float: right;
  cursor: pointer;
}

.fish-rating label:after {
  display: block;
  height: 40px;
  width: 100%;
  float: right;
  transition: all 0.15s;
  display: flex;
  justify-content: center;
  content: '\f578';
  font-family: FontAwesome;
  font-size: 30px;
  color: rgb(160, 160, 160);
}

.fish-rating input[type=radio]:first-child + label {
  display: none;
}

.fish-rating input[type=radio]:checked ~ label:after {
  color: rgb(24, 68, 190);
}
