// Fish rating for the Logs form

// Container for the rating
.fish-rating-container {
  width: 300px;
  margin: 10px 0 30px 10px;

  // The DIV with this class has the fish layout as its background image. This image appears at the
  // front but has a transparent background
  .fish-rating {
    position: relative;
    vertical-align: middle;
    height: 50px;
    width: 100%;
    overflow: hidden;

    img {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
    }

    input[type=radio] {
      display: none;
    }

    // This Label appears at the front but its transparent. When selected it will fill the respective
    // radio box and, at the same time, change the color of the Label2
    label {
      position: absolute;
      box-sizing: border-box;
      float: right;
      height: 100%;
      width: 10%;

      cursor: pointer;
      z-index: 10;
    }

    // This Label is the one that gives color to the "radio box". If the selected box value is greater
    // or equal to its value, it will change its background color
    label2 {
      position: absolute;
      box-sizing: border-box;
      float: right;
      background-color: lightgray;
      height: 95%;
      width: 10.5%;
      margin: 1px 0;

      cursor: pointer;
      z-index: 0;
    }

    input[type=radio]:first-child + label2 {
      display: none;
    }

    input[type=radio]:checked ~ label2 {
      background-color: #72D3FF;
    }
  }

  .fish-rating-bar {
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
    padding: 5px 20px 0;
    border-top: 1px solid #BDEBFF;
    margin-top: 5px;

    div {
      position: absolute;
      text-align: center;
      color: white;
      width: 10.5%;
      font-size: 1rem;
    }
  }

  // Give less size to the first and last "slices" in order for the borders to not appear
  .rating1 {
    left: 0.5% !important;
    width: 10% !important;
  }

  .rating10 {
    width: 9.5% !important;
  }
}
