.fish-rating {
  overflow: hidden;
  position: relative;
  background-color: lightgray;
  width: 112px;
  height: 75px;
}

.fish-rating input[type=radio] {
  display: none;
}

.fish-rating label {
  box-sizing: border-box;
  position: absolute;
  width: 20%;
  height: 100%;
  float: right;
  cursor: pointer;
  z-index: 10;
}

.fish-rating label2 {
  box-sizing: border-box;
  position: absolute;
  width: 20%;
  height: 100%;
  float: right;
  cursor: pointer;
  z-index: 0;
}

.rating1 {
  left: 0;
}

.rating2 {
  left: 20%;
}


.rating3 {
  left: 40%;
}

.rating4 {
  left: 60%;
}

.rating5 {
  left: 80%;
}

.fish-rating input[type=radio]:first-child + label2 {
  display: none;
}

.fish-rating input[type=radio]:checked ~ label2 {
  background-color: $light-blue;
}
