.form-login {
  color: rgba(255, 255, 255, 0.9);
  background-color: $opacity-blue;
  padding: 10px 20px 30px;
  margin-top: 100px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  img {
    width: 36px;
    padding-bottom: 5px;
  }

  h2 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  .placeholder {
    color: #495057;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px;
  }

  .text-muted {
    color: #9BDDF9;
  }
}
