.form-control {
  font-family: $body-font;
}

.logo {
  text-align: center;
}

.invalid-feedback {
  display: block;
}

.form-control.is-invalid {
  background-color: rgba(255, 240, 240, 1);
  background-image: none;
  padding: 6px 12px;
}

.form-control.is-valid {
  background-color: rgba(230, 255, 230, 1);
  background-image: none;
  padding: 6px 12px;
}
