// Forms

// --------------------//--------------------
// Standard form validations
.form-control {
  font-family: $body-font;
}

.invalid-feedback {
  display: block;
}

.form-control.is-invalid {
  background-color: rgba(255, 240, 240, 1);
  background-image: none;
  padding: 6px 12px;
}

.form-control.is-valid {
  background-color: rgba(230, 255, 230, 1);
  background-image: none;
  padding: 6px 12px;
}

// --------------------//--------------------
// Devise Forms
.devise-container {
  color: rgba(255, 255, 255, 0.9);
  background-color: $opacity-blue;
  padding: 20px 20px 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  img {
    width: 36px;
    padding-bottom: 10px;
  }

  h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p, a {
    color: #BDEBFF;
    font-size: 16px;
    padding-left: 5px;
    margin-bottom: 8px;
  }

  a:hover {
    color: #BDEBFF;
    text-decoration: underline !important;
  }

  .placeholder {
    color: #495057;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px;
  }

  .user_avatar > input.file {
    overflow: hidden;
  }

  .text-muted {
    color: #9BDDF9 !important;
  }
}

// --------------------//--------------------
// Log forms
.container-log-form {
  display: flex;
  flex-direction: column;
  color: #BDEBFF;
  opacity: 0.9;

  label {
    margin-bottom: 0;
  }

  .form-control.is-invalid {
    padding: 0 0 0 5px;
  }

  .invalid-feedback {
    padding-left: 110px;
    margin: 0 0 10px 0;
  }

  .d-flex {
    justify-content: space-between;
    padding-right: 10px;
    margin-bottom: 15px;

    label {
      width: 100px;
      padding-top: 10px;
    }

    p {
      font-size: 18px;
      width: 110px;
      margin: 7px 5px 0;
    }
  }

  .log_location {
    margin-bottom: 5px;
  }

  input[type=datetime-local], #log_new_location_id, #log_edit_location_id {
    width: 200px;
    padding: 0 2px 0 5px !important;
  }

  .log_temperature, .log_air_pressure, .log_wind_speed {
    margin-bottom: 5px;

    label {
      margin-right: 10px;
    }

    input {
      width: 80px;
      padding: 6px 5px;
      border-radius: 2px;
    }
  }

  .log_observation {
    margin: 10px 10px 4px 0;

    label {
      margin-bottom: 8px;
    }
  }

  .log_new_observation_error, .log_edit_observation_error {
    padding-left: 2px;
    margin-bottom: 16px;
  }

  p {
    color: #BDEBFF;
    font-size: 1rem;
  }
}

// --------------------//--------------------
// Catch form
.container-catch-form {
  display: flex;
  flex-direction: column;
  color: #BDEBFF;
  opacity: 0.9;

  table {
    margin-bottom: 5px;

    label {
      margin: 0 0 6px 2px;
    }

    td {
      vertical-align: top;
      padding-right: 2px;

      &:nth-child(1) {
        width: 55px;
      }

      &:nth-child(2) {
        width: 195px;
      }

      &:nth-child(3) {
        width: 70px;
        padding: 0;
      }

      .form-group {
        margin-bottom: 0;

        .form-control {
          font-size: 15.5px;
          padding: 6px 10px;
        }

        // Remove the side arrows from the number related input fields
        input[type='number']::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }

  .invalid-feedback {
    display: none;
    padding: 0 0 0 5px;
    margin: 0 0 6px;
  }

  .invalid-feedback.catch_new_error {
    display: block;
  }
}
