// Modals

// -------------------------------------//-------------------------------------
// Standard modals
.modal-header h4,
.close {
  color: white;
  opacity: 0.9;

  &:hover {
    color: white;
    opacity: 0.9;
  }
}

.modal-content {
  background-color: #061f35;
}

// -------------------------------------//-------------------------------------
// Delete modals
.modal-delete .modal-content {
  .modal-delete-content {
    text-align: center;
    width: 100%;
    padding: 10px;

    h2 {
      color: white;
    }

    p {
      color: #bdebff;
      padding: 0;
      border: none !important;
      margin: 0;
    }
  }

  .modal-delete-confirmation {
    height: 40px;
    margin: 10px auto 0;
  }
}

// -------------------------------------//-------------------------------------
// Center modals
.modal-dialog-centered {
  min-height: calc(90% - 1rem);
  padding: 10px;
}
