.page-link, .page-item.disabled .page-link {
  color: #010038;
  border: 1px solid #010038;
  background-color: rgba(255, 255, 255, 0.7);
}

.page-item.active .page-link {
    color: lightgray;
    background-color: transparent;
    border: none;
}
