.page-link, .page-item.disabled .page-link {
  color: #010038;
  background-color: white;
  border: 1px solid lightgray;
}

.page-item.active .page-link {
    color: lightgray;
    background-color: transparent;
    border: none;
}
