// Tooltip
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  font-size: 20px;
}

.tooltip .tooltiptext {
  position: absolute;
  bottom: 100%;
  left: 50%;
  text-align: center;
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  width: 150px;
  padding: 10px;
  border-radius: 6px;
  margin-left: -75px;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
