<h1 class="page-title">All Logs</h1>

<!-- Modal for the new Log creation -->
  <%= link_to "Create", data: { toggle: "modal", target: "#ModalNewLog" }, class: "btn-log-new" do %>
    <i class="fas fa-plus"></i>
  <% end %>

<% if @logs.empty? %>
  <div class="card no-data">
    <h3>No logs saved yet</h3>
    <h5>The more logs you record, the more accurate our predictions will be</h5>
  </div>

<% else %>
  <div id="logs-list">
    <%= render 'logs/list', logs: @logs %>
  </div>
<% end %>

<!-- Modal New Log Form -->
<div class="modal fade" id="ModalNewLog" role="dialog">
  <%= render "logs/form", log: Log.new %>
</div>
