<%= simple_form_for(location) do |f| %>
  <%= f.input :site, label: false, placeholder: "Cool spot name" %>
  <%= f.input :name, label: false, placeholder: "Carapateira" %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-flat btn-block" %>
  </div>
<% end %>
