<!-- Partial to append to the information partial if the User chooses to -->
<tr>
  <td><hr></td>
  <td></td>
  <td><hr></td>
</tr>

<tr>
  <td>Prediction</td>
  <td></td>
  <td>
    <%= prediction[:weight_gr_hour].zero? ? 0 : rounded_weight(prediction[:weight_gr_hour]) %>
    (per hour)
  </td>
</tr>

<tr>
  <td>Mean error</td>
  <td></td>
  <td><%= "#{prediction[:mean_percentage_error]}%" %></td>
</tr>
