<!-- If the Fish list is empty... -->
<% if @fish.empty? %>
  <div class="card">
    <h3>No fish found</h3>
    <h5>Have you typed the correct name?</h5>
  </div>

<!-- Otherwise, display each Fish as a card -->
<% else %>
  <% @fish.each do |fish| %>
    <%= link_to fish_path(fish), data: { id: fish.id } do %>
      <div class="fish-card">
        <div class="card-fish-img">
          <%= image_tag fish.picture_url %>
        </div>

        <div class="fish-card-info">
          <h2><%= fish.name.upcase %></h2>

          <p>
            Minimum size:
            <%= fish.legal_dimensions %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
