
<div class="container">
  <% @fish.each do |fish| %>
    <div class="fish-card">
      <img src="/assets/images/yftuna.png"/>
      <div class="fish-card-infos">
        <h2><%= fish.common_name %></h2>
        <p>Minimum length: <%= fish.legal_size %>cm</p>
        <p>Minimum  weight: <%= fish.legal_weight %>kg</p>
      </div>
    </div>
  <% end %>
</div>
