
<div class="container">
  <% @fish.each do |fish| %>
    <div class="fish-card">
      <%= image_tag fish.picture_url %>
      <div class="fish-card-infos">
        <h2><%= fish.common_name.upcase %></h2>
        <% if fish.legal_size == 0%>
          <p><%= fish.legal_weight %>kg</p>
        <% else %>
          <p><%= fish.legal_size %>cm</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
