<!-- Call the gem 'gon' in order to be able to call the Controller variable 'fish_names' from the
JS 'autoCompleteFish' function -->
<%= include_gon %>

<%= render "fish/search-bar" %>

<div id="fish-list">
  <%= render "fish/list" %>
</div>
